/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #08152b;
    color: white;
    line-height: 1.6;
    cursor: pointer;
}

/* NAVBAR */

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: #050d1b;

    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.nav-inner {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.logo-img {
    width: 3vw;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: .3s;
}

#links:hover{
    color: rgb(138, 138, 239);
}
.nav-btn {
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    background-color: #cd0a4b;
    box-shadow: 0 8px 0 #0005, 0 6px 0 #cd0a4b;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(2px);
        box-shadow: 0 6px 0 #0005, 0 4px 0 #cd0a4b;
    }
}
/* SIGNUP SECTION */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.signup-container {
  background-color: rgba(25, 35, 55, 0.95); /* dark box */
  padding: 30px 40px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 600px;
  border-radius: 1rem;
  color: #e0e6f0;
}

.signup-form h2 {
  margin-bottom: 24px;
  color: #9dc9ff;
  text-align: center;
}

.signup-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #cce7ff;
}

.signup-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #0f1a2f;
  color: #e0e6f0;
}

.signup-form input::placeholder {
  color: #9aa5b1;
}

.signup-form button{
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    background-color: #cd0a4b;
    box-shadow: 0 10px 0 #0005, 0 8px 0 #cd0a4b;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 80%;
    margin-left:50px;
    &:hover {
        transform: translateY(2px);
        box-shadow: 0 6px 0 #0005, 0 4px 0 #cd0a4b;
    }
}
.login-link {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.login-link a {
  color: #9dc9ff;
  text-decoration: none;
}

.footer {
    background: #050d1b;
    padding: 20px 20px;
    margin-top: 60px;
}

.footer-left {
    font-size: 20px;
}

.footer-left strong {
    font-size: 1.8rem;
    color: #cce7ff;
    text-shadow: 0 0 8px #cce7ff;
    letter-spacing: 1px;
}

.footer-left .tagline {
    font-size: 0.9rem;
    color: #9aa5b1;
    margin-top: 5px;
    font-style: italic;
}


.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right a {
    margin-left: 10px;
    font-size: 25px;
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    opacity: .8;
}

/* MOBILE */

@media(max-width:768px) {

    .menu {
        flex-direction: column;
        background: #08152b;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        padding: 20px;
    }

    .menu-toggle:checked+.hamburger+.menu {
        display: flex;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        background: white;
    }

    .cta_section h1 {
        font-size: 28px;
    }

    .image_section img {
        height: 320px;
    }

}

/* Social Hover Colors */
#fb,
#insta,
#twitter,
#linkedin {
    transition: 0.5s ease-in-out;
}

#fb:hover {
    transform: scale(1.2);
    color: #1877F2;
}

#insta:hover {
    background: linear-gradient(45deg, #405DE6, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FCAF45);
    -webkit-background-clip: text;
    transform: scale(1.2);
    -webkit-text-fill-color: transparent;
}

#twitter:hover {
    color: #1DA1F2;
    transform: scale(1.2);
}

#linkedin:hover {
    color: #0A66C2;
    transform: scale(1.2);
}